.groupHeader
  .groupHeader__groupName
    = @group.name
  .groupHeader__groupMember
    Member :
    - @group.users.each do |user|
      = user.name
  .groupHeader__groupEdit
    = link_to 'Edit', ''
.messages
  = render @messages
.submit
  .submit__form
    = form_for [@group, @message], multipart: true do |f|
      .submit__form__inputArea
        = f.text_field :text, class: 'submit__form__inputArea__text', placeholder: "Type a message"
        .submit__form__inputArea__image
          = f.label :image do
            = icon('image')
            = f.file_field :image
      .submit__form__sendButton
        = f.submit 'Send'
